@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Che</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    <link href="~/BeyondAdmin/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/BeyondAdmin/assets/css/beyond.min.css" rel="stylesheet" />

    <link href="~/BeyondAdmin/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/BeyondAdmin/assets/css/weather-icons.min.css" rel="stylesheet" />

    @Scripts.Render("~/Bundles/App/vendor/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
   

    @Scripts.Render("~/Bundles/App/Main/js")



</head>
<body>
    <div ng-app="app">
        <div ng-controller="app.views.layout as vm">
            <div ng-include="'/App/Main/views/layout/header.cshtml'" class="navbar"></div>

            <div class="main-container container-fluid">
                <!-- Page Container -->
                <div class="page-container">
                    <!-- Page Sidebar -->
                    <div class="page-sidebar sidebar-fixed" id="sidebar" ng-include=" '/App/Main/views/layout/sidebar.html' ">
                    </div>
                </div>
                <!-- /Page Container -->
                <!-- Main Container -->

            </div>
        </div>
    </div>
</body>
</html>